.ribbon {
    width: 100%;
    background-color: #2988b5;
    display: grid;
    place-content: center;
    place-items: center;

    p {
        color: #ffff;
        margin-top: 30px;
        font-size: 32px;
    }
}

.card {
    margin-top: 50px;
    width: 100%;
    display: grid;
    place-content: center;
    place-items: center;

    mat-card {
        width: 750px;

        mat-card-header {
            display: flex;
            place-content: center;
            place-items: center;

            mat-card-title {
                color: #555555;
            }
        }

        mat-card-actions {
            display: flex;
            place-items: end;
            width: 100%;
            place-content: end;

        }
    }
}

.form {
    display: grid;
    grid-template-columns: 500px;
    place-content: center;
    place-items: center;
    margin-top: 20px;

    mat-form-field {
        width: 100%;
    }
}